# Extension
node_modules/
extension/src/libs/*
!extension/src/libs/.gitkeep
.sass-cache
extension/src/css/uk-tabfloater.css

# Chrome Web Store key file
key.pem

# C++
bin/
build/
obj/

# VS Code
.vscode/
