# Extension
.sass-cache
node_modules/
extension/src/libs/*
!extension/src/libs/.gitkeep
extension/src/css/generated/*
!extension/src/css/generated/.gitkeep

# Chrome Web Store key file
key.pem

# C++
bin/
build/
obj/

# VS Code
.vscode/
