Source: tabfloater-companion
Section: x11
Priority: optional
Maintainer: Balazs Gyurak <balazs@tabfloater.io>
Build-Depends: cmake,
               debhelper (>= 9),
               libx11-dev
Standards-Version: 4.5.0.3
Homepage: https://tabfloater.io/
Vcs-Browser: https://github.com/tabfloater/tabfloater
Vcs-Git: https://github.com/tabfloater/tabfloater.git

Package: tabfloater-companion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Companion application for the TabFloater browser extension
 TabFloater Companion is a complementer application for TabFloater, a
 browser extension that allows extracting any browser tab into
 Picture-in-Picture mode.
