name: Build companion

on:
  pull_request:
    branches: [ master ]
    paths:
    - 'companion/**'

defaults:
  run:
    working-directory: companion

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: ./build.sh
  build-appimage-linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Build AppImage
      run: ./packaging/linux/build_appimage.sh
  build-deb-linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get install cmake debhelper devscripts
    - name: Build DEB package
      run: ./packaging/linux/ppa_upload.sh --dry-run
  build-windows:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: ./build.bat
    - name: Test packaging
      run: ./build.bat --package
